@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="productpage showpage">
    <div class="controlText-section">
        <div class="controlSamples-section">
            <ul class="featuredsamples">

                <li class="dashlistsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")Pdf/NorthwindReport  target="_blank">
                        <div class="imgstyle pdf1"></div>
                        </a>
                    </div>
                    <div class="dashlitext">
                        <a href=@Url.Content("~/")Pdf/NorthwindReport class="anchorclass aclass" id="pdfnorthwind">PDF NorthwindReport</a>
                        <p>
                            Essential PDF supports inserting tables into PDF pages.
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")Pdf/NorthwindReport class="anchorclass"  target="_blank">
                        <div><span id="pdfnorthwind">VIEW SAMPLE</span></div>
                        </a>
                    </div>
                </li>

                <li class="dashlistsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")Pdf/FormFilling  target="_blank">
                        <div class="imgstyle pdf2"></div>
                        </a>
                    </div>
                    <div class="dashlitext">
                        <a href=@Url.Content("~/")Pdf/FormFilling class="anchorclass aclass" id="pdfformfilling">PDF FormFilling</a>
                        <p>
                            Essential PDF can read and update form fields from a PDF document.
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")Pdf/FormFilling class="anchorclass"  target="_blank">
                        <div><span id="pdfformfilling" >VIEW SAMPLE</span></div>
                        </a>
                    </div>
                </li>

                <li class="dashlistsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")DocIO/EmployeeReport  target="_blank">
                        <div class="imgstyle doc1"></div>
                        </a>
                    </div>
                    <div class="dashlitext">
                        <a href=@Url.Content("~/")DocIO/EmployeeReport class="anchorclass aclass" id="docioemployeereport">Word Mail Merge</a>
                        <p>
                            Perform mail merge operations to create an employee report
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")DocIO/EmployeeReport class="anchorclass"  target="_blank">
                        <div><span id="docioemployeereport">VIEW SAMPLE</span></div>
                        </a>
                    </div>
                </li>

                   <li class="dashlistsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")DocIO/DOCtoPDF  target="_blank">
                        <div class="imgstyle doc2"></div>
                        </a>
                    </div>
                    <div class="dashlitext">
                        <a href=@Url.Content("~/")DocIO/DOCtoPDF class="anchorclass aclass" id="dociodoctopdf">Word to PDF</a>
                        <p>
                            Essential DocIO support for conversion from MS Word document to PDF document.
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")DocIO/DOCtoPDF class="anchorclass"  target="_blank">
                        <div><span id="dociodoctopdf">VIEW SAMPLE</span></div>
                        </a>
                    </div>
                </li>

                <li class="dashlistsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")XlsIO/Invoice  target="_blank">
                        <div class="imgstyle xls1"></div>
                        </a>
                    </div>
                    <div class="dashlitext">
                        <a href=@Url.Content("~/")XlsIO/Invoice class="anchorclass aclass" id="xlsioinvoice">Excel Invoice</a>
                        <p>
                            Creating rich reports with styles, ADO .NET connectivity, Formulas
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")XlsIO/Invoice class="anchorclass"  target="_blank">
                        <div><span id="xlsioinvoice">VIEW SAMPLE</span></div>
                        </a>
                    </div>
                </li>

                   <li class="dashlistsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")XlsIO/Performance  target="_blank">
                        <div class="imgstyle xls2"></div>
                        </a>
                    </div>
                    <div class="dashlitext">
                        <a href=@Url.Content("~/")XlsIO/Performance class="anchorclass aclass" id="xlsioperformance" >Excel Performance</a>
                        <p>
                            IMigrant Range performance Improvement.
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")XlsIO/Performance class="anchorclass"  target="_blank">
                        <div><span id="xlsioperformance">VIEW SAMPLE</span></div>
                        </a>
                    </div>
                </li>

                </ul>
            </div>
        </div>
    </div>



<style>
    .sampleheadingtext
    {
        display: none;
    }
</style>
